@import 'flexboxgrid.css';

* {
  word-break: break-all;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 10px;
  color: white;
}

.App-title {
  position: relative;
  top: -100px;
  font-size: 2rem;
  animation-name: apptitle;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.app-body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px 0;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #222;
  text-decoration: none;
}
.row {
  margin: 0 20px;
}
.col-md-3 {
  width: 100%;
}

.item {
  border: 2px solid #222;
  border-radius: 5px;
  margin: 15px 0;
  padding: 20px;
  max-height: 200px;
  overflow: hidden;
  opacity: 0;
  animation-name: item;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.name {
  font-size: 1.5rem;
  padding: 0 0 10px;
  opacity: 0;
  animation-name: itemname;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.source_url {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  padding: 5px 0;
  opacity: 0;
  animation-name: itemsourceurl;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.desc {
  text-align: left;
  color: #7d7d7d;
  opacity: 0;
  animation-name: itemdesc;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.issue {
  position: fixed;
  opacity: 0;
  right: -100px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border: 2px solid #222;
  line-height: 70px;
  border-radius: 35px;
  background-color: #fff;
  animation-name: issue;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.issue:hover {
  cursor: pointer;
  background-color: #222;
  color: #fff;
}

@media (max-width: 64em) {
  .issue {
    right: 20px;
    bottom: 20px;
  }
}

@keyframes apptitle {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes item {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes itemname {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes itemsourceurl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes itemdesc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes issue {
  from {
    opacity: 0;
    right: -100px;
  }
  to {
    opacity: 1;
    right: 20px;
  }
}
